*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/*/build/
/captures
/Gemfile*
.externalNativeBuild
.cxx
local.properties
app/release
app/schemas
app/src/main/assets
.project
.settings
.classpath
